.formContainer {
  background-color: #f4f4f4;
  border-radius: 2rem;
  box-shadow: 0 0.2rem 0.5rem rgba(0, 0, 0, 0.1);
  max-width: 50rem;
  margin: auto;
  padding: 1rem 1rem 2.5rem 1rem;
}

.input {
  width: 100%;
  background-color: #fff;
  outline: none;
  border-radius: 3rem;
  color: #0077ff;
  font-weight: 700;
  padding: 0.6rem 1.4rem; /* Adjusted padding */
  font-size: 1.2rem;
  border: 0.2rem solid #fff;
  box-shadow: 0 0.2rem 0.5rem rgba(0, 0, 0, 0.1);
}

.input:focus {
  border: 0.2rem solid #0077ff;
}
