.backButton {
  border-radius: 50%;
  width: 3rem;
  height: 3rem;
  border: none;
  background-color: #fff;
  outline: none;
  box-shadow: 0 0.2rem 0.5rem rgba(0, 0, 0, 0.3);
  transition: transform 0.2s ease-in-out; /* Add transition property */
}

.backButton:active {
  transform: translateY(0.2rem); /* Move slightly down when clicked */
}

.backButton img {
  width: 50%;
}
